
body {
    font-family: Arial, sans-serif;
    background: url('images/hogwarts.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
}

#quiz-container {
    background: rgba(0, 0, 0, 0.8); /* Semi-transparent black for readability */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 500px;
    text-align: center;
}

button {
    background-color: #6a5acd;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

#options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Distance between options */
    margin-top: 20px;
}


#options button {
    flex: 0 1 calc(50% - 10px); /* Each button takes 50% of the width minus a gap */
    background-color: #6a5acd;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

#options button:hover {
    background-color: #5b4acb;
}


button:hover {
    background-color: #5b4acb;
}
